# Ignore everything
*

# Allow just the directories with work, ignore generated stuff
!graphics/
!lib/
!lib/ui
!lib/data
!lib/domain
!test/

# Allow specific root files
!README.md
!.gitignore
!package.json
!pubspec.yaml
!analysis_options.yaml
!finance_calendar.iml